*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(111, 111, 111);
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

h4{
    font-size: 40px;
    margin-bottom: 20px;
}

.clock_style{
    padding: 20px 40px;
    background-color: orange;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 40px;
}